<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="shortcut icon" href="/images/spider.png" type="image/x-icon">
  <title>My Portfolio</title>
</head>

<body>
  <div class="background-image">
    <header>
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container ">
          <a class="navbar-brand" href="#">
            <h2>Suvam</h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item px-lg-4 px-sm-1 h6">
                <a href="#home" class="nav-link active">Home</a>
              </li>
              <li class="nav-item px-lg-4 px-sm-1 h6">
                <a href="#about" class="nav-link">About</a>
              </li>
              <li class="nav-item px-lg-4 px-sm-1 h6">
                <a href="#education" class="nav-link">Education</a>
              </li>
              <li class="nav-item px-lg-4 px-sm-1 h6">
                <a href="#experience" class="nav-link">Experience</a>
              </li>
              <li class="nav-item px-lg-4 px-sm-1 h6">
                <a href="#contact-form" class="nav-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="home home-banner text-center p-6" id="home">
      <div class="container border">
        <div class="profile row d-flex bg-light shadow">
          <div class="col border m-4 profile-pic">
            <img src="/images/suvam.jpg" alt="" class="img-fluid object-fit-cover" style="height: 100vh;"
              loading="lazy">
          </div>
          <div class="col text-center p-5 name">
            <article>
              <div class="name-first">
                <p>Hi, I am</p>
                <p class="name-second">Suvendu Mahapatra</p>
              </div>
              <p>And I am a</p>
              <p class="name-second">Web Developer</p>
            </article>
            <br>
            <button class="btn btn-secondary mt-3 ">
              <a href="/Files/Suvendu Mahapatra (Resume).pdf" download="Suvendu Mahapatra(Resume)"
                class="text-dark text-decoration-none">Download Resume</a>
            </button>

          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="about" id="about">
        <div class="container row">
          <div class="col">
            <h2 class="sub-head">ABOUT ME</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure modi quibusdam harum ratione beatae
              architecto
              deleniti repellat nihil aut dolorum sunt ex cupiditate optio veniam facere blanditiis, aperiam corrupti
              deserunt.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, debitis minima. Inventore velit
              eligendi
              nemo nobis beatae. Accusamus alias animi qui dolores earum accusantium explicabo? Incidunt reiciendis rem
              accusamus quas.
            </p> <br><br>
            <div class="container social-media-icons fs-1 row px-5">

              <a href="mailto:suvendumahapatra69@gmail.com" class="text-decoration-none text-secondary col">
                <i class="bi bi-envelope"></i>
              </a>
              <a href="tel:+917326885578" class="text-decoration-none text-secondary col">
                <i class="bi bi-telephone"></i>
              </a>
              <a href="https://www.linkedin.com/in/suvendumahapatra/" class="text-decoration-none text-secondary col"
                target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>
              <a href="#" class="text-decoration-none text-secondary col" target="_blank">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
          <div class="col">
            <h2 class="sub-head">SKILLS</h2>
            <ul class="skills list-group list-group-flush">
              <li class="list-group-item">
                <p>HTML</p>
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%"></div>
                </div>
              </li>
              <li class="list-group-item">
                <p class="d-flex">CSS</p>
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%"></div>
                </div>
              </li>
              <li class="list-group-item">
                <p>JAVA SCRIPT</p>
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%"></div>
                </div>
              </li>
              <li class="list-group-item">
                <p>BOOTSTRAP</p>
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%"></div>
                </div>
              </li>
              <li class="list-group-item">
                <p>REACT</p>
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section><br>

    <section class="container" id="education">
      <h2 class="text-center sub-head">EDUCATION</h2> <br>
      <div class="education vr">
        <ul>
          <li><strong>B.Tech</strong>
            <ul>
              <li>
                <p>2018 - 2022</p>
              </li>
              <li>
                <p>Parala Maharaja Engineering College, Berhampur, Odisha <strong>[8.4 CGPA]</strong></p>
              </li>
              <li>
                <p>Electronics and Telecommunication Engineering</p>
              </li>
            </ul>
          </li>
          <li><strong>Class XII</strong>
            <ul>
              <li>
                <p>2017 - 2018</p>
              </li>
              <li>
                <p>Nayagarh Autonomous College, Nayagarh, Odisha <strong>[65%]</strong></p>
              </li>
            </ul>
          </li>
          <li><strong>Class X</strong>
            <ul>
              <li>
                <p>2015 - 2016</p>
              </li>
              <li>
                <p>Saraswati Sishu Vidya Mandir, Nayagarh <strong>[82%]</strong></p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section><br> <br>


    <section class="container-fluid border my-projects-background">
      <div class="container my-projects" id="experience">
        <div class="row">
          <h2 class="text-center sub-head">MY WORKS</h2> <br>
          <div class="col-lg-4 col-md-4 col-sm-6 p-4">
            <img src="/images/nature6.jpg" alt="nature1" class="img-fluid border" loading="lazy">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 p-4">
            <img src="/images/nature6.jpg" alt="nature2" class="img-fluid border" loading="lazy">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 p-4">
            <img src="/images/nature6.jpg" alt="nature3" class="img-fluid border" loading="lazy">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 p-4">
            <img src="/images/nature6.jpg" alt="nature4" class="img-fluid border" loading="lazy">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 p-4">
            <img src="/images/nature6.jpg" alt="nature5" class="img-fluid border" loading="lazy">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 p-4">
            <img src="/images/nature6.jpg" alt="nature6" class="img-fluid border" loading="lazy">
          </div>
        </div>
      </div>
    </section>


    <section class="container contact" id="contact-form">
      <form action="">
        <fieldset>
          <legend class="text-center">
            <h2 class="sub-head">
              CONTACT
            </h2>
          </legend><br>
          <div class="row">
            <div class="col-6">
              <label for="firstname" class="form-label">First Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter first name here " required>
            </div>
            <div class="col-6">
              <label for="lastname" class="form-label">Last Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter last name here " required>
            </div>
          </div><br>
          <div>
            <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" placeholder="Enter email here " required>
          </div><br>
          <div>
            <label for="feedback" class="form-label">Message <span class="text-danger">*</span></label>
            <textarea name="message" id="feedback" cols="30" rows="3" class="form-control"
              placeholder="Enter your message here" required></textarea>
          </div><br>
          <div>
            <button class="btn btn-primary">Send</button>
          </div>
        </fieldset>
      </form>
    </section> <br> <br>

    <section class="container-fluid bg-dark text-center">
      <footer>
        Created by Suvendu.&copy; 2023
      </footer>
    </section>
  </div>
</body>


</html>